html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*Styles to my main div 
Main div is where we're wrapping the app div*/
#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*Styles to my app div
App div is where our react code is gonna be rendered*/
#app {
  width: 100%;
  height: 100%;
  display: flex;
}
